alembic==0.9.1
BeautifulSoup==3.2.1
beautifulsoup4==4.4.1
feedparser==5.2.1
Flask==0.11.1
Flask-Cors==2.1.2
Flask-Migrate==2.0.3
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
geocoder==1.21.2
geopy==1.11.0
numpy==1.11.1
pandas==0.18.1
requests==2.10.0
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.17.1
sklearn==0.0
