<style type ="text/css">
.news {
    border: dashed 1px #634f36; /* Параметры рамки */
    background: #fffff5; /* Цвет фона */
    font-family: "Courier New", Courier, monospace; /* Шрифт текста */
    padding: 7px; /* Поля вокруг текста */
    margin: 0 0 1em; /* Отступы вокруг */

}
.news:hover { background-color: yellow;
             font-family: Verdana, Arial, Helvetica, sans-serif; 
            font-size: 14pt; /* Размер шрифта в пунктах */ 
            border: 1px solid black;
}

</style>

<!doctype html>

{%import "bootstrap/wtf.html" as wtf%}
{%extends "base.html"%}


<title>Новости на карте</title>


{%block page_content%}
{%for n, t, d in ns%}
 <div class = "news">
 <div class = "news_date">{{n.date}}</div>
 <div class = "news_title">{{t|safe}}</div>
 <a href = "{{n.link.split("url=")[1]}}">{{d|safe}}"</a>
 </div>  

{%endfor%}
{%endblock%}


